.MuiInputLabel-root, .MuiOutlinedInput-input, .MuiInputLabel-formControl {
    font-family: "Oswald", sans-serif !important;
    font-size: 22px !important;
    font-weight: 400 !important;
    background-color: #ffffff !important;
}