.App {
    width: 100%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}
.center-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}